<div class="container footer"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutWrap
    fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <md-list>
          <md-list-item><a md-button routerLink="/home">Home</a></md-list-item>
          <md-list-item><a md-button routerLink="/about">About</a></md-list-item>
          <md-list-item><a md-button routerLink="/contactus">Contact</a></md-list-item>
        </md-list>
      </div>
      <div fxFlex="50">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          Arab Bureau of Education for the Gulf States<br> 7054 amr ibn ummiyyah ad damri-as safarat, AR RIYADH 12511 - 3113<br>
            Kingdom of Saudi Arabia<br>
          <i class="fa fa-phone"></i>:+966-11-4800555<br>
          <i class="fa fa-fax"></i>: +966-11-4802839<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:abegs@abegs.org">abegs@abegs.org</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center">
      <a md-icon-button class="btn-google-plus" href="https://plus.google.com/+AbegsOrg"><i class="fa fa-google-plus fa-lg"></i></a>
      <a md-icon-button class="btn-facebook" href="https://www.facebook.com/abegsorg"><i class="fa fa-facebook fa-lg"></i></a>
      <a md-icon-button class="btn-linkedin" href="https://www.linkedin.com/company/abegs"><i class="fa fa-linkedin fa-lg"></i></a>
      <a md-icon-button class="btn-twitter" href="https://twitter.com/abegsorg"><i class="fa fa-twitter fa-lg"></i></a>
      <a md-icon-button class="btn-youtube" href="https://www.youtube.com/abegschanel"><i class="fa fa-youtube fa-lg"></i></a>
      <a md-icon-button class="btn-instagram" href="https://www.instagram.com/_abegsorg"><i class="fa fa-instagram"> </i></a>
      <a md-icon-button class="btn-mail" href="mailto:abegs@abegs.org"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div fxFlex="100" fxFlexAlign="center center">
    <div style="text-align:center;">
      <p> All Rights Reserved © Arab Bureau of Education for the Gulf States 2018</p>
    </div>
  </div>
</div>