<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>ABEGS Workshops Management System </h3>
               <hr>
            </div>
     </div>

      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <p>The Workshop Management System allows our organization (abegs.org) to manage training workshops, which the administrator can register the training workshops, register the trainees, and prepare the evaluation form for each training workshop, as well as allows  the trainees to registration, r the Fill in evaluation form and print the attendance certificate fo workshop. </p>
              <h3>Our Goals</h3>
              <ul>
              <li>Development of a database for management workshops at the Arab Bureau of Education for the Gulf States (abegs.org). </li>
              <li>Developing a website and a mobile app to manage training workshops. </li>
              <li>Allow administrator at abegs to manage ( workshops - trainee’s information - making surveys - certificates )</li>
              <li>Allow trainees to (register - take a survey  - print certificates) through the website or the mobile app.</li>
             </ul>  
          </div>
        </div>
      </div>
</div>