/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$lt-gray: rgb(210, 243, 217);
$background-dark: rgb(23, 122, 97);
$background-light: rgb(81, 182, 135);
$background-pale: rgb(196, 233, 215);
$primary-color-dark:   rgb(45, 168, 92);
$primary-color:        rgb(53, 165, 87);
$primary-color-light:  rgb(196, 233, 211);
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}
.container {
    margin: 20px;
    display:flex;
}
.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
.workshopimg{
  max-width: 90%;
  margin-top: 10px;
  max-height: 200px;
}
